section{
    background: #e3e8ed;
}
/* Keyframe for marquee scrolling effect */
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  #gallery .marquee {
    display: flex;
    animation: marquee 50s linear infinite;
    cursor: pointer;
  }
  
  #gallery .marquee:hover {
    animation-play-state: paused;
  }